<%- include('partials/header'); %>
<h1 style="text-align: center;">A Lonely Twilight Walk</h1>
<br>
<pre>
<p>

    With an introspective unreal camaraderie
    I wander through the dusk, searching for peace
    But a subtle sense of vengeance clouds my mind
    Making this once-sane soul sinister.
    
    I rage against the traitors,
    Falling into a limbo, forgetting my dreams
    All that's left is loss and pain
    Stabbed by the sword of betrayal.
    
    Once a pure soul, now stitched with threads of revenge
    Forgiveness is an option no more,
    As I trudge through the lonely twilight
    On my quest for solace, but finding only war.
    
    The wind whispers secrets in my ear
    Of a different life, one free from fear
    But the past clings tight, won't let me be
    And I'm trapped in this cycle, forever to be.
    
    With each step I take, I feel the weight
    Of all that I've lost, all that I hate
    But still I walk, in the fading light
    Hoping one day, to make things right.
</p>
</pre>
<%- include('partials/footer'); %>